{% extends "@include/main_painel.twig" %}

{% block conteudo %}

	<div class="card">
		<div class="card-body">
			<h2 class="mt-2">
				Emitir Declaração
			</h2>
			{% if alert  %}
				<div class="alert alert-{{alert.getTipo()}} alert-dismissable fade show" role="alert"> {{ alert.getMensagem() }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div> {{  alert.destruir() }}
			{% endif %}
			<hr>
			<form action="salvar_declaracao" enctype="multipart/form-data" method="POST"> {{ csrf_field() }}
			<h5 class="mt-4">Dados</h5>
			<div class="row">
				<input type="hidden" name="id_estudante" class="form-control" value="{{ usuario.id }}">
				<div class="form-group col-md-6">
					<input type="text" name="instituicao" class="form-control" disabled="" value="{{ usuario.instituicao.nome}}">
				</div>
				<div class="form-group col-md-6">
					<select name="curso" class="form-control {% if errors.first('curso') %} is-invalid {% endif %}" required="">
							<option value="">cursos..</option>
							{% for curso in usuario.instituicao.cursos_escola %}
								<option value="{{ curso.nome }}" {% if old('curso') == curso.nome %} selected {% endif %}> {{curso.nome}}</option>
							{% endfor %}
						</select>
                        {% if errors.first('curso') %}
                          <div class="invalid-feedback">
                          {{ errors.first('curso') }}
                         </div>

                        {% endif %}
				</div>
				<div class="form-group col-md-6">
					<input type="text" name="turma" required="" class="form-control {% if errors.first('turma') %} is-invalid {% endif %}" placeholder="Informe a turma"  value="{{old('turma')}}">
                        {% if errors.first('turma') %}
                            <div class="invalid-feedback">
                                {{ errors.first('turma') }}
                            </div>
                        {% endif %}

				</div>
				<div class="form-group col-md-6">
						<input type="text" required="" class="form-control {% if errors.first('classe') %} is-invalid {% endif %}" name="classe" value="{{old('classe')}}"  placeholder="Informe a classe">
                        {% if errors.first('classe') %}
                            <div class="invalid-feedback">
                                {{ errors.first('classe') }}
                            </div>
                        {% endif %}
				</div>
				<div class="form-group col-md-6">
					<select class="form-control {% if errors.first('tipo') %} is-invalid {% endif %}" name="tipo_declaracao" required="">
						<option>Tipo..</option>
						<option value="Com notas" {% if old('tipo') == "Com notas" %}{% endif %}>Com notas</option>
						<option value="Sem notas" {% if old('tipo') == "Sem notas" %}{% endif %}>Sem notas</option>
					</select>

                      {% if errors.first('tipo') %}
                            <div class="invalid-feedback">
                                {{ errors.first('tipo') }}
                            </div>
                        {% endif %}

				</div>
				<div class="form-group col-md-6">
					<input type="text" required="" name="efeito" class="form-control {% if errors.first('efeito') %} is-invalid {% endif %}" placeholder="Para qual efeito?" value="{{old('efeito')}}">
                    {% if errors.first('efeito') %}
                            <div class="invalid-feedback">
                                {{ errors.first('efeito') }}
                            </div>
                        {% endif %}
				</div>
				<div class="col-md-12"></div>
				<div class="form-group col-md-12">
					<label>
						comprovativo de pagamento
					</labrl>
				<input name="comprovativo" required="" class="form-control {% if errors.first('comprovativo') %} is-invalid {% endif %}" type="file" id="formFile">
                        {% if errors.first('comprovativo') %}
                            <div class="invalid-feedback">
                                {{ errors.first('comprovativo') }}
                            </div>
                        {% endif %}
				</div>
				<div class="row col-md-12"></div>


			</div>
			<button type="submit" class="btn btn-success">Enviar</button>
		</form>
	</div>
</div>{% endblock %}
