{% extends "@include/main_painel.twig" %}

{% block conteudo %}

	<div class="card">
		<div class="card-body">
			<h2 class="mt-2">
				Emitir Certificado
			</h2>
			{% if alert  %}
				<div class="alert alert-{{alert.getTipo()}} alert-dismissable fade show" role="alert"> {{ alert.getMensagem() }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div> {{  alert.destruir() }}
			{% endif %}
			<hr>
			<form action="salvar_certificado" enctype="multipart/form-data" method="POST"> {{ csrf_field() }}

				<h5 class="mt-4">Dados</h6>
				<div class="row">
					<input type="hidden" name="id_estudante" value="{{ usuario.id }}">
					<div class="form-group col-md-6">
                        <label for="nome">instituição</label>
						<input type="text" name="instituicao" class="form-control" disabled="" value="{{ usuario.instituicao.nome}}">
					</div>
					<div class="form-group col-md-6">
                      <label>
							curso
						</label>
						<select name="curso" class="form-control {% if errors.first('curso') %} is-invalid {% endif %}" required="">
							<option value="">cursos..</option>
							{% for curso in usuario.instituicao.cursos_escola %}
								<option value="{{ curso.nome }}" {% if old('curso') == curso.nome %} selected {% endif %}>{{curso.nome}}</option>
							{% endfor %}
						</select>
                        {% if errors.first('curso') %}
                          <div class="invalid-feedback">
                          {{ errors.first('curso') }}
                         </div>

                        {% endif %}

					</div>
					<div class="form-group col-md-6">
                      <label>
							classe
						</label>
						<input type="text" required="" class="form-control {% if errors.first('classe') %} is-invalid {% endif %}" name="classe" value="{{old('classe')}}"  placeholder="Informe a classe">
                        {% if errors.first('classe') %}
                            <div class="invalid-feedback">
                                {{ errors.first('classe') }}
                            </div>
                        {% endif %}
					</div>
					<div class="form-group col-md-6">
                      <label>
							turma
						</label>
						<input type="text" name="turma" required="" class="form-control {% if errors.first('turma') %} is-invalid {% endif %}" placeholder="Informe a turma"  value="{{old('turma')}}">
                        {% if errors.first('turma') %}
                            <div class="invalid-feedback">
                                {{ errors.first('turma') }}
                            </div>
                        {% endif %}

					</div>
					<div class="form-group col-md-6">
                      <label>
							Número estudantil
						</label>
						<input type="text" name="numero_estudantil" required="" class="form-control {% if errors.first('numero_estudantil') %} is-invalid {% endif %}" placeholder="Número Estudantil" value="{{old('numero_estudantil')}}">
                        {% if errors.first('numero_estudantil') %}
                            <div class="invalid-feedback">
                                {{ errors.first('numero_estudantil') }}
                            </div>
                        {% endif %}
					</div>
					<div class="form-group col-md-6">
                      <label>
							Ano de termino
						</label>
						<input type="text" name="ano_de_termino" class="form-control {% if errors.first('ano_de_termino') %} is-invalid {% endif %}" required="" placeholder="Ano do término" value="{{old('ano_de_termino')}}">
                        {% if errors.first('ano_de_termino') %}
                            <div class="invalid-feedback">
                                {{ errors.first('ano_de_termino') }}
                            </div>
                        {% endif %}
					</div>
					<div class="col-md-12"></div>
					<div class="form-group col-md-6">
						<label>
							comprovativo de pagamento
						</labrl>
						<input name="comprovativo" required="" class="form-control {% if errors.first('comprovativo') %} is-invalid {% endif %}" type="file" id="formFile">
                        {% if errors.first('comprovativo') %}
                            <div class="invalid-feedback">
                                {{ errors.first('comprovativo') }}
                            </div>
                        {% endif %}
					</div>
					<div class="row col-md-12 mb-4"></div>
				</div>
				<button type="submit" class="btn btn-success">Enviar</button>
			</form>

		</div>
	</div>


{% endblock %}
