{% extends '@include/main_painel.twig' %}

{% block conteudo %}
  <div class="card">
    <div class="card-header">
      <h3 class="text-center">Criar usuário</h3>
      {% if alert %}
        <div class="alert alert-{{ alert.getTipo() }} alert-dismissable fade show" role="alert">
          {{ alert.getMensagem() }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div> {{ alert.destruir() }}
      {% endif %}
      <hr />
    </div>
    <div class="card-body">
      <form action="/usuario/salvar_usuario" method="post" enctype="multipart/form-data">
        {{ csrf_field() }}
        <h3>Usuário</h3>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Email</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">person</i>
              </div>
              <input type="email" class="form-control" name="u_email" placeholder="exemplo@exemplo.com" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Telefone</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">local_phone</i>
              </div>
              <input type="tel" class="form-control" name="u_contacto" placeholder="9xxxxxxxx" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Senha</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">vpn_key</i>
              </div>
              <input type="password" class="form-control" name="u_senha" placeholder="Minimo 6 caracteres" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Grupo de usuários</label>
            <select name="u_grupo" id="" class="form-control">
              {% for grupo in grupos %}
                <option value="{{ grupo.id }}">{{ grupo.nome }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <h3>Informações pessoais</h3>
        <hr />
        <div class="form-row">
          <div class="form-group col-md-8">
            <label>nome completo</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">person</i>
              </div>
              <input type="text" class="form-control" name="p_nome" placeholder="Primeiro nome" />
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Pai</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">person</i>
              </div>
              <input type="text" class="form-control" name="p_pai" placeholder="Nome do pai" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Mãe</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">person</i>
              </div>
              <input type="text" class="form-control" name="p_mae" placeholder="Nome da mãe" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Género</label>
            <select name="p_genero" class="form-control">
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Nº do documento</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">credit_card</i>
              </div>
              <input type="text" class="form-control" name="p_n_documento" placeholder="xxxxxxxxxxxxxxxx" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Tipo de documento</label>
            <select name="p_t_documento" id="" class="form-control">
              <option value="bi">Bilhete de identidade</option>
              <option value="pt">Passaporte</option>
              <option value="outros">Outros</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Documento</label>
            <input name="documento" required="" class="form-control" type="file" id="formFile" />
          </div>
          <div class="form-group col-md-4">
            <label>Data de emissão</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">date_range</i>
              </div>
              <input type="date" class="form-control" name="p_data_de_emissao" placeholder="dd/mm/aaaa" />
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Data de nascimento</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">date_range</i>
              </div>
              <input type="date" class="form-control" name="p_data_de_nascimento" placeholder="dd/mm/aaaa" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Provincia</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">location_city</i>
              </div>
              <input type="text" class="form-control" name="p_provincia" placeholder="Benguela" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Municipio</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">location_city</i>
              </div>
              <input type="text" class="form-control" name="p_municipio" placeholder="Lobito" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Bairro</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">home</i>
              </div>
              <input type="text" class="form-control" name="p_bairro" placeholder="Liro" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Local de nascimento</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">local_hospital</i>
              </div>
              <input type="text" class="form-control" name="p_local_de_nascimento" placeholder="Benguela" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Naturalidade</label>
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons">flag</i>
              </div>
              <input type="text" class="form-control" name="p_naturalidade" placeholder="Angolana" />
            </div>
          </div>
        </div>
        <button class="btn btn-success">Salvar</button>
      </form>
    </div>
  </div>
{% endblock %}
