{% extends "@include/main_painel.twig" %}
{% block conteudo %}
	<div class="py-4 mb-3 bg-white border-bottom">
		<div class="container-fluid container-account">
			<div class="row">
				<div class="col-lg-6">
					<div class="media media-user-info align-items-center">
						<div class="media-body lh-1">
							<p class="h4 m-0 text-uppercase">{{ SESSION.usuario.pessoa.nome}}</p>
							<p class="text-muted mb-0">Grupo de Usuários:
								<b>{{ SESSION.usuario.grupo.nome }}</b>

							</p>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	{% if alert  %}
		<div class="alert alert-{{alert.getTipo()}} alert-dismissable fade show" role="alert"> {{ alert.getMensagem() }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div> {{  alert.destruir() }}
	{% endif %}

	{% if pessoa.estudante.id_instituicao == null and  SESSION.usuario.grupo.nome =="estudantes" %}
		<div class="alert alert-warning alert-dismissable fade show" role="alert">
			Tenha atenção ao escolher a instituição pois só poderá selecionar uma única vez, caso queira mudar deverá ligar ao psd....
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}
	<div class="">
		<ul class="nav nav-pills mb-2" id="accountTabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview">Informações pessoais</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">Usuário</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="alterarSenha-tab" data-toggle="tab" href="#alterarSenha" role="tab" aria-controls="alterarSenha">Alterar senha</a>
			</li>
		</ul>
		<div class="tab-content" id="accountTabsContent">
			<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
				<div class="row">
					<div class="col-lg-9">
						<div class="card card-account">
							<div class="card-body">
								<form action="/usuario/atualizar_informacoes_pessoais" method="post" enctype="multipart/form-data"> {{ csrf_field() }}
									<div class="form-row">
										<div class="form-group col-md-8 ">
											<label>nome completo</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">person</i>
												</div>
												<input type="text" class="form-control" value="{{ pessoa.nome }}" name="p_nome" placeholder="Primeiro nome">
											</div>
										</div>
										<div class="form-group col-md-4">
											<label>Pai</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">person</i>
												</div>
												<input value="{{ pessoa.pai }}" type="text" class="form-control" name="p_pai" placeholder="Nome do pai">
											</div>
										</div>
										<div class="form-group col-md-4">
											<label>Mãe</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">person</i>
												</div>
												<input value="{{ pessoa.mae }}" type="text" class="form-control" name="p_mae" placeholder="Nome da mãe">
											</div>
										</div>
										<div class="form-group col-md-4">
											<label>Género</label>
											<select name="p_genero" class="form-control">
												{% if  pessoa.genero  %}
													<option selected value="{{ pessoa.genero }}">{{ pessoa.genero() }}
														- Selecionado</option>
												{% endif %}
												<option value="M">Masculino</option>
												<option value="F">Femenino</option>
											</select>
										</div>
										<div class="form-group col-md-4">
											<label>Nº do documento</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">credit_card</i>
												</div>
												<input value="{{ pessoa.n_do_documento }}" type="text" class="form-control" name="p_n_documento" placeholder="xxxxxxxxxxxxxxxx">
											</div>
										</div>
										<div class="form-group col-md-4">
											<label>Tipo de documento</label>
											<select name="p_t_documento" id="" class="form-control">
												{% if  pessoa.tipo_de_documento  %}
													<option selected value="{{ pessoa.tipo_de_documento }}">{{ pessoa.tipo_de_documento() }}
														- Selecionado</option>
												{% endif %}
												<option value="BI">Bilhete de identidade</option>
												<option value="NIF">Nº de identificação fiscal</option>
												<option value="PP">Passaport</option>
												<option value="Outros">Outros</option>
											</select>
										</div>
										<div class="form-group col-md-4">
											<label>Documento</label>
											<input name="documento" {% if pessoa.tipo_de_documento == null %} required  {% endif %} class="form-control" type="file" id="formFile">
										</div>
										<div class="form-group col-md-4">
											<label>Data de emissão</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">date_range</i>
												</div>
												<input value="{{ pessoa.data_de_emissao }}" type="date" class="form-control" name="p_data_de_emissao" placeholder="dd/mm/aaaa">
											</div>
										</div>

										<div class="form-group col-md-4">
											<label>Data de nascimento</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">date_range</i>
												</div>
												<input value="{{ pessoa.data_de_nascimento }}" type="date" class="form-control" name="p_data_de_nascimento" placeholder="dd/mm/aaaa">
											</div>
										</div>
										<div class="form-group col-md-4">
											<label>Provincia</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">location_city</i>
												</div>
												<input value="{{ pessoa.provincia }}" type="text" class="form-control" name="p_provincia" placeholder="Benguela">
											</div>
										</div>
										<div class="form-group col-md-4">
											<label>Municipio</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">location_city</i>
												</div>
												<input value="{{ pessoa.municipio }}" type="text" class="form-control" name="p_municipio" placeholder="Lobito">
											</div>
										</div>
										<div class="form-group col-md-4">
											<label>Bairro</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">home</i>
												</div>
												<input value="{{ pessoa.bairro }}" type="text" class="form-control" name="p_bairro" placeholder="Liro">
											</div>
										</div>
										<div class="form-group col-md-4">
											<label>Local de nascimento</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">local_hospital</i>
												</div>
												<input value="{{ pessoa.local_de_nascimento }}" type="text" class="form-control" name="p_local_de_nascimento" placeholder="Benguela">
											</div>
										</div>
										<div class="form-group col-md-4">
											<label>Naturalidade</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">flag</i>
												</div>
												<input value="{{ pessoa.naturalidade }}" type="text" class="form-control" name="p_naturalidade" placeholder="Angolana">
											</div>
										</div>
										{% if  SESSION.usuario.grupo.nome =="estudantes" %}
											<div class="form-group col-md-12">
												<select name="p_instituicao" class="form-control" required="" {% if pessoa.estudante.id_instituicao  %} disabled {% endif %} >
													<option>instituição de ensino..</option>
													{% for instituicao in instituicoes %}
														<option value="{{ instituicao.id }}" {% if pessoa.estudante.id_instituicao == instituicao.id %} selected {% endif %}> {{ instituicao.nome}}</option>
													{% endfor %}
												</select>
											</div>
										{% endif %}
									</div>
									<button type="submit" class="btn btn-success">Salvar</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-3"></div>
				</div>
			</div>
			<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
				<form action="/usuario/atualizar_usuario" method="post" id="editarUsuario"> {{ csrf_field() }}
					<div class="row">
						<div class="col-lg-9">
							<div class="card">
								<div class="card-body">
									<div class="form-row">
										<div class="form-group col-md-6 ">
											<label>Usuário</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">person</i>
												</div>
												<input type="text" class="form-control" name="u_usuario" value="{{ usuario.usuario }}" placeholder="exemplo.exemplo">
											</div>
										</div>
										<div class="form-group col-md-6 ">
											<label>Email</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">email</i>
												</div>
												<input type="email" class="form-control" name="u_email" value="{{ usuario.email }}" placeholder="exemplo@exemplo.com">
											</div>
										</div>
										<div class="form-group col-md-6">
											<label>Telefone</label>
											<div class="input-group input-group--inline">
                                                  <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="material-icons">local_phone</i></span>
                                                        <span class="input-group-text">+244</span>
                                                    </div>
												<input type="tel" class="form-control" name="u_contacto" value="{{ usuario.contacto }}" placeholder="9xxxxxxxx">
											</div>
										</div>
                                    </div>
									<button data-toggle="modal" data-target="#confirmarSenha" type="button" class="btn btn-success">
										Confirmar</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane fade" id="alterarSenha" role="tabpanel" aria-labelledby="alterarSenha-tab">
				<form action="/usuario/atualizar_senha" method="post"> {{ csrf_field() }}
					<div class="row">
						<div class="col-lg-9">
							<div class="card">
								<div class="card-body">
									<div class="col-lg-8 ml-0 pl-0">
										<div class="form-group ">
											<label>Senha atual</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">vpn_key</i>
												</div>
												<input type="password" class="form-control" required name="s_atual" placeholder="Senha atual">
											</div>
										</div>
										<div class="form-group">
											<label>Nova senha</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">vpn_key</i>
												</div>
												<input type="password" class="form-control" required name="s_nova_senha" minlength="6" maxlength="8" placeholder="6 Caracteres no minimo ou 8 no maximo">
											</div>
										</div>
										<div class="form-group ">
											<label>Confirmar nova senha</label>
											<div class="input-group input-group--inline">
												<div class="input-group-addon">
													<i class="material-icons">vpn_key</i>
												</div>
												<input type="password" class="form-control" required name="s_nova_senha_c" minlength="6" maxlength="8" placeholder="6 Caracteres no minimo ou 8 no maximo">
											</div>
										</div>
										<button class="btn btn-success " type="submit">Alterar senha</button>
									</div>

								</div>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>

{% endblock %}
{% block modal %}
<div class="modal fade " id="confirmarSenha" tabindex="-1" role="dialog" aria-labelledby="modalinscrever" aria-hidden="true">
	<div class="modal-dialog modal-xs" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="defaultModalLabel">Confirmar senha
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label for="senhac">Senha</label>
				<input id="senhaC" form="editarUsuario" type="password" placeholder="senha" name="senhaC" class="form-control">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
				<button type="submit" form="editarUsuario" class="btn btn-primary">Salvar</button>
			</div>
		</div>
	</div>
</div {% endblock %}
