{% extends "@include/main_painel.twig" %}


{% block conteudo %}

    <div class="w-100 ">
        <div class="card ">
            <div class="card-body p-2 d-flex">
                <a href="/biblioteca/adicionar_livro"  class="btn-sm nounderline d-flex align-items-center  btn  " style="color: #5999c3;" onMouseOver="this.style.color='#25364a'" onMouseOut="this.style.color='#5999c3'">
                    <i class="material-icons">book</i>Novo livro
                </a>
                <a href="/biblioteca/adicionar_area"  class="btn-sm nounderline d-flex align-items-center  btn  " style="color: #5999c3;"  onMouseOver="this.style.color='#25364a'" onMouseOut="this.style.color='#5999c3'">
                    <i class="material-icons">book</i>Nova área
                </a>
                <a href="/biblioteca/adicionar_autor"  class="btn-sm nounderline d-flex align-items-center  btn  " style="color: #5999c3;"  onMouseOver="this.style.color='#25364a'" onMouseOut="this.style.color='#5999c3'">
                    <i class="material-icons">book</i>Novo autor
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h2>
                    {% if livro %}Editar livro{% else %}Adicionar livro{% endif %}
                </h2>

                 {% if alert  %}
					<div class="alert alert-{{alert.getTipo()}} alert-dismissable fade show" role="alert"> {{ alert.getMensagem() }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div> {{  alert.destruir() }}
				{% endif %}
                <hr>
                <form class="w-100" id="needs-validation" novalidate=""  action="{% if livro %}/biblioteca/editar_livro{% else %}/biblioteca/salvar_livro{% endif %}"  method="POST" enctype="multipart/form-data">
                  {{ csrf_field() }}
                    <div class="row">
                        <div class="form-group col-md-4 ">
                            <label for="isigla">Sigla  </label>
                            <input type="text" class="form-control"  placeholder="Exemplo: IG..."   value="{{ livro.sigla }}" name="sigla" id="isigla" autocomplete="off" >
                        </div>
                        <div class="form-group col-md-4 ">
                            <label for="itutulo">Título * </label>
                             <input type="text" class="form-control {% if errors.first('titulo') %} is-invalid {% endif %}"  name="titulo" id="itutulo" autocomplete="off" value="{{ livro.titulo }}" required>
                           {% if errors.first('titulo') %}
                           <div class="invalid-feedback">
                                {{ errors.first('titulo') }}
                            </div>

                           {% endif %}

                        </div>
                        <div class="form-group col-md-4">
                            <label for="icurso">Área *</label>
                            <select class="form-control {% if errors.first('curso') %} is-invalid {% endif %} " id="icurso" required="" name="curso">
                                <option disabled="" selected>Selecione uma área</option>
                                {% if livro %}
                                    {% if livro.curso %}
                                        <option selected value="{{ livro.curso.id }}">{{ livro.curso.nome }}(selecionado)</option>
                                    {% endif %}
                                {% endif %}
                                {% for curso in cursos %}
                                    <option value="{{ curso.id }}">{{ curso.nome }}</option>
                                {% endfor %}

                            </select>
                             {% if errors.first('curso') %}
                                <div class="invalid-feedback">
                                    {{ errors.first('curso') }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-4 ">
                            <label for="iautor">Autor</label>
                            <select name="autor" required="" class="form-control {% if errors.first('autor') %} is-invalid {% endif %}" id="iautor">
                                <option  disabled="" selected>Selecione um autor</option>
                                {% if livro %}
                                    {% if livro.autor %}
                                        <option selected value="{{ livro.autor.id }}">{{ livro.autor.nome }}(selecionado)</option>
                                    {% endif %}
                                {% endif %}
                                {% for autor in autores %}
                                    <option value="{{ autor.id }}">{{ autor.nome }}</option>
                                {% endfor %}
                            </select>
                             {% if errors.first('autor') %}
                                <div class="invalid-feedback">
                                    {{ errors.first('autor') }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-4">
                            <label for="icapa">Capa</label>
                            <input type="file" id="icapa" name="capa" class="form-control {% if errors.first('capa') %} is-invalid {% endif %} form-control-file p-1">
                              {% if errors.first('capa') %}
                                <div class="invalid-feedback">
                                    {{ errors.first('capa') }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ifd">Livro</label>
                            <input type="file" name="ficheiro" id="ifd" class="form-control {% if errors.first('ficheiro') %} is-invalid {% endif %} form-control-file p-1">
                                {% if errors.first('ficheiro') %}
                                <div class="invalid-feedback">
                                    {{ errors.first('ficheiro') }}
                                </div>
                            {% endif %}
                        </div>
                        <input type="hidden" name="id" value="{{ livro.id }}">
                        <div class="form-group col-md-12">
                            <label for="idescricao">Descrição</label>
                            <textarea name="descricao" class="form-control {% if errors.first('descricao') %} is-invalid {% endif %}"  id="idescricao" placeholder="Breve descrição sobre o livro." rows="3">{{ livro.descricao }}</textarea>
                          {% if errors.first('descricao') %}
                                <div class="invalid-feedback">
                                    {{ errors.first('descricao') }}
                                </div>
                            {% endif %}
                       </div>
                    </div>
                    <p class="small ">* Campos obrigatórios <br><br>
                        Capa: formatos válidos png, jpg, jpeg não superior a >{{ sistema.max_imagem }} KB <br><br>
                        Sigla: Se não preencher, o sistema gera automaticamente.</p>

                    <div class="d-flex align-items-end justify-content-end">
                        <button type="submit" class="btn btn-success" value="Salvar">Salvar</button>
                    </div>
                </form>
            </div>

        </div>

    </div>

    <div class="mdc-snackbar mdc-snackbar--align-start mdc-snackbar--right" aria-live="assertive" aria-atomic="true" aria-hidden="true">
        <div class="mdc-snackbar__text"></div>
        <div class="mdc-snackbar__action-wrapper">
            <button type="button" class="mdc-snackbar__action-button"></button>
        </div>
    </div>
{% endblock %}

