{% extends "@include/main_painel.twig" %}

{% block conteudo %}
    <style>
        .table td{
            border-left: 0px !important;
            border-right: 1px solid #e2e8ee !important;
        }
    </style>
    <div class="w-100">
        <div class="">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <h3 class="col-md-3">
                    {% if ano == 1 %}
                        Todos inquéritos
                    {% else %}
                        Inquéritos de {{ ano }}
                    {% endif %}
                </h3>
                <div class="col-auto  ">
                    <form action="" method="get" class="d-flex">
                    
                        <input type="number" list="inq" name="ano" class="form-control " min="0" placeholder="Ano" value="{{ ano }}">
                        <button type="submit" class="btn  ml-1 py-0 pr-1 pl-1 d-flex align-items-center btn-sm btn-primary-dark"><i class="material-icons">search</i></button>
                    </form>
                    <datalist id="inq">
                        <option value="{{ "now"|date("Y") }}">{{ "now"|date("Y") }}</option>
                        <option value="1">Todos inquéritos</option>
                    </datalist>
                </div>
                <hr class="col-md-12">
            </div>

            <div class="row align-items-center mb-2">
                <div class="col-md-12">
                    <div class="input-group input-group--inline ">
                        <div class="input-group-addon">
                            <i class="material-icons align-items-center  ">search</i>
                        </div>
                        <input type="text" class="form-control form-control-md input_procurar" name="search" placeholder="Pesquisar por tema, administrador, pesquisador">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="">
                    <table class="table tabela table-no-border table-responsive-xl table-hover   mb-0">
                        <thead class="bg-primary text-white">
                        <tr>
                            <th class="text-white">#</th>
                            <th class="text-white">TEMA</th>
                            <th class="text-white">Pesquisador</th>
                            <th class="text-white">Inqueridos</th>
                            <th class="text-white">Privacidade</th>
                            <th class="text-white">Opções</th>
                        </tr>
                        </thead>
                        <tbody class="  border-left-0">
                        {% for inquerito in inqueritos  %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ inquerito.titulo }}</td>
                                <td>{{ inquerito.pesquisador.pessoa.nome_proprio}} {{ inquerito.pesquisador.pessoa.sobrenome}}</td>
                                <td>{{ inquerito.inscricoes|length }}</td>
                                <td>
                                    {% if inquerito.privacidade %}
                                        Público
                                    {% else %}
                                        Privado
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown show ">
                                        <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons md-18 align-middle">more_horiz</i>
                                        </a>

                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/inquerito/ver_inquerito/{{ inquerito.id }}">
                                                <i class="material-icons md-14 align-middle">edit</i>
                                                <span class="align-middle">Ver</span>
                                            </a>
                                            <a class="dropdown-item" href="/inquerito/eliminar_inquerito/{{ inquerito.id }}">
                                                <i class="material-icons md-14 align-middle">remove_circle</i>
                                                <span class="align-middle">Eliminar</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
