{% extends "@include/main_painel.twig" %}

{% block conteudo %}

	<div class="card">
		<div class="card-body">
			<h2 class="mt-2">
				Actualizar Instituição
			</h2>
			<hr>
			<form class="w-100" id="needs-validation" novalidate="" action="{{ route('instituicao.update',instituicao.id)}}" method="POST" enctype="multipart/form-data">
             {{ csrf_field() }} {{ method_field('PUT')}}
				<div class="row">
					<div class="form-group col-md-4 ">
						<label for="rsNome">Nome
						</label>
						<input type="text" class="form-control" placeholder="Nome Instituição" value="{{instituicao.nome}}" name="nome" id="rsNome">
					</div>
					<div class="form-group col-md-4 ">
						<label for="rsEmail">Email
						</label>
						<input type="email" class="form-control" placeholder="Email" value="{{instituicao.email}}" name="email" id="rsEmail">
					</div>
					<div class="form-group col-md-4 ">
						<label for="rsTelefone">Telefone
						</label>
						<input type="tel" class="form-control" placeholder="Telefone" value="{{instituicao.telefone}}" name="telefone" id="rsTelefone">
					</div>
					<div class="form-group col-md-4 ">
						<label for="rsEndereco">Localização
						</label>
						<input type="text" class="form-control" placeholder="Localização" value="{{instituicao.localizacao}}" name="localizacao" id="rsEndereco">
					</div>
					<div class="form-group col-md-4">
						<label for="rsTipo">Tipo</label>
						<select class="form-control" id="rsTipo" required="" name="tipo">
							<option value="publica" {% if instituicao.tipo == "publica" %} selected {% endif %}>Pública</option>
							<option value="privada" {% if instituicao.tipo == "privada" %} selected {% endif %}>Privada</option>
						</select>
					</div>
					<div class="form-group col-md-4">
						<label for="rsNivel">Nivel de Ensino</label>
						<select class="form-control" id="rsNivel" required="" name="nivel">
							<option {% if instituicao.nivel == "basico" %} selected {% endif %} value="basico">Ensino de base</option>
							<option {% if instituicao.nivel == "medio" %} selected {% endif %} value="medio">Ensino Medio</option>
							<option {% if instituicao.nivel == "superior" %} selected {% endif %} value="superior">Ensino Superior</option>
						</select>
					</div>
					<div class="form-group col-md-4">
						<label for="rsAdministrador">Administrador</label>
						<select class="form-control" id="rsAdministrador" required="" name="id_usuario">
							{% for usuario in usuarios %}
								<option {% if instituicao.id_usuario == usuario.id %} selected {% endif %} value="{{usuario.id}}">{{ usuario.usuario }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group col-md-12">
						<label for="idescricao">Sobre a Escola</label>
						<textarea name="sobre" class="form-control" id="sobre_escola" placeholder="Breve descrição sobre a escola." rows="6">{{ instituicao.sobre}}</textarea>
					</div>
					<div class="form-group col-md-4">
						<label for="icapa">Logotipo</label>
						<input type="file" name="logotipo" class="form-control form-control-file p-1">
					</div>

				</div>
				<div class="d-flex align-items-end justify-content-end">
					<button type="submit" class="btn btn-success" value="Salvar">Salvar</button>
				</div>
			</form>
		</div>
	</div>


{% endblock %}
