<!DOCTYPE html>
<html lang="pt" dir="ltr">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PSD</title>
    <meta charset="utf-8">

    <!-- App CSS -->
    <link type="text/css" href="{{asset('css/app.css')}}" rel="stylesheet">
    <link type="text/css" href="{{asset('css/app.rtl.css')}}" rel="stylesheet">
    <!-- Simplebar -->
    <link type="text/css" href="{{asset('vendor/simplebar.css')}}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{asset('css/vendor-bootstrap-switch.css')}}">

</head>
<body>
<!-- main content -->
<div class=" pt-3">
    <div class="container container--wide ">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <h2 class="text-center">Obrigado por responder ao inquérito.</h2>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="{{asset('vendor/jquery.min.js')}}"></script>

<script src="{{asset('vendor/bootstrap.min.js')}}"></script>


</body>

</html>










