{% extends "@include/main_painel.twig" %}

{% block conteudo %}

	<div class="card">
		<div class="card-body">
			<h2 class="mt-2">
				Emitir Cartão de estudante
			</h2>
			{% if alert  %}
				<div class="alert alert-{{alert.getTipo()}} alert-dismissable fade show" role="alert"> {{ alert.getMensagem() }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div> {{  alert.destruir() }}
			{% endif %}
			<hr>
			<form action="salvar_cartao" enctype="multipart/form-data" method="POST"> {{ csrf_field() }}

				<div class="form-row">
					<h5 class="mt-4">Dados</h5>
					<div class="row">
						<input type="hidden" name="id_estudante" value="{{ usuario.id }}">
						<div class="form-group col-md-6">
							<input type="text" name="instituicao" class="form-control" disabled="" value="{{ usuario.instituicao.nome}}">
						</div>
						<div class="form-group col-md-6">
							<select name="curso" class="form-control {% if errors.first('curso') %} is-invalid {% endif %} " >
								<option value="">cursos..</option>
								{% for curso in usuario.instituicao.cursos_escola %}
									<option value="{{ curso.nome }}" {% if input_old('curso') == curso.nome  %} selected {% endif %}> {{curso.nome}}</option>
								{% endfor %}
							</select>
                            {% if errors.first('curso') %}
                                <div class="invalid-feedback">
                                    {{ errors.first('curso') }}
                                </div>
                            {% endif %}
						</div>
						<div class="form-group col-md-4">
							<input type="text" name="classe" class="form-control  {% if errors.first('classe') %} is-invalid {% endif %}" value="{{ input_old('classe')}}"  placehinput_older="Informe a Classe">
                            {% if errors.first('classe') %}
                                <div class="invalid-feedback">
                                    {{ errors.first('classe') }}
                                </div>
                            {% endif %}
                        </div>
						<div class="form-group col-md-4">
                        <input type="text" name="turma" class="form-control  {% if errors.first('turma') %} is-invalid {% endif %}" value="{{ input_old('turma')}}"  placehinput_older="Informe a turma">
                            {% if errors.first('turma') %}
                                <div class="invalid-feedback">
                                    {{ errors.first('turma') }}
                                </div>
                            {% endif %}
						</div>
						<div class="form-group col-md-4">
                            <input type="text" name="numero_estudantil" class="form-control {% if errors.first('numero_estudantil') %} is-invalid {% endif %}" value="{{ input_old('numero_estudantil')}}"  placehinput_older="Informe o numero_estudantil">
                            {% if errors.first('numero_estudantil') %}
                                <div class="invalid-feedback">
                                    {{ errors.first('numero_estudantil') }}
                                </div>
                            {% endif %}
						</div>
						<div class="col-md-12"></div>
						<div class="form-group col-md-6">
							<label>
								fotografia
							</label>
							<input name="foto" class="form-control {% if errors.first('foto') %} is-invalid {% endif %}" type="file" id="formFile">
                              {% if errors.first('foto') %}
                                <div class="invalid-feedback">
                                    {{ errors.first('foto') }}
                                </div>
                            {% endif %}
						</div>
						<div class="row col-md-12 mb-4"></div>
					</div>
					<button type="submit" class="btn btn-success">Emitir</button>
				</form>

			</div>
		</div>
	</div>

{% endblock %}
