{% include './Site/includes/menu.twig' %}
			<section id="home" class="hero-section dtr-py-8 hero-default-bg bg-blue">
				<div class="container">
					<div class="row align-items-center">
						<!-- column 1 starts -->
						<div class="col-12 col-md-6 dtr-sm-mb-30px color-white">
							<!-- Heading -->
							<h1 class="dtr-mb-4 wow fadeInUp" data-wow-delay="0.4s">O que é o PSD? </h1>
							<!-- Text -->
							<p class="dtr-mb-4 text-size-md color-white-muted">
							Psd é uma plataforma de pesquisa dirigida exclusivamente para os estudantes, visando facilitar a vida académica em Angola em todos o moldes desde as aulas até às pesquisas de fim de curso.
								Buscando soluções eficientes para os problemas mais prementes da comunidade académica nacional.
							</p>
							<!-- list starts -->
							<ul class="dtr-list-checkmark dtr-mb-5 text-size-md color-white-muted">
								<li>
									<h6> Biblioteca virtual</h6>
								</li>
								<li>
									<h6>Gestão de inquéritos</h6>
								</li>
								<li>
									<h6>TPC - Intercâmbio Escolar </h6>
								</li>
							</ul>
							<!-- list ends -->
						</div>
						<!-- column 1 ends -->
						<!-- column 2 starts -->
						<div class="col-12 col-md-6 wow fadeInRight" data-wow-delay="0.4s">
							<div class="dtr-hero-form">
								<!-- form header starts -->
								<div class="dtr-form-head">
									<h4 class="text-center">Emissão de Documentos</h4>
								</div>
								<!-- form body starts -->
								<div class="dtr-form-body">
									<p class="text-center dtr-mb-2 text-size-sm">Faça a emissão de documentos aqui. Mas para o seu devido processo deverá ter os seguintes requesitos:</p>

									<p><i class="fa icon-circle" style="font-size: 10px;"></i> Ter as propinas/comparticipações todas elas regularizadas.</p>
									<p><i class="fa icon-circle" style="font-size: 10px;"></i> Poderá fazer a emissão de Certificado, em escolas que temos convénio.</p>

									<p><i class="fa icon-circle" style="font-size: 10px;"></i> Cadastrar-se e iniciar seccão.</p>
									<button type="button" class="btn btn-primary" ><a href="/painel" style="color:white">emitir certificado</a></button>
									<button type="button" class="btn btn-primary" ><a href="/painel" style="color:white">emitir declaração</a></button>


								</div>


						<!-- column 2 ends -->
					</div>
				</div>
			</section>
			<!-- hero section starts
			================================================== -->

			<!-- quickfeature section starts
			================================================== -->
			<section id="quickfeatures" class="dtr-py-6">
				<div class="container">
					<div class="row text-center">
						<!-- column 1 starts -->
						<div class="col-12 col-md-3 dtr-sm-mb-30px wow fadeInUp" data-wow-delay="0.4s">
							<!-- Icon -->
							<i class="fa icon-crosshairs" style="font-size: 4rem"></i>
							<!-- Heading -->
							<h5 class="mb-3"> Inovação </h5>
							<!-- Text -->
							<p>Conteúdos inovadores, e credíveis para manter os estudantes mais proximo com a instituição</p>
						</div>
						<!-- column 1 ends -->
						<!-- column 2 starts -->
						<div class="col-12 col-md-3 dtr-sm-mb-30px wow fadeInUp" data-wow-delay="0.4s">
							<!-- Icon -->
							<i class="fa icon-hashtag" style="font-size:4rem;"></i>
							<!-- Heading -->
							<h5 class="mb-3"> Futuro</h5>
							<!-- Text -->
							<p>Garantimos transparencia das informações para que não haja problemas futuros.</p>
						</div>
						<!-- column 2 ends -->
						<!-- column 3 starts -->
						<div class="col-12 col-md-3 wow fadeInUp" data-wow-delay="0.4s">
							<!-- Icon -->
							<i class="fa icon-check-circle" style="font-size:4rem;color: #d6e216;"></i>
							<!-- Heading -->
							<h5 class="mb-3">Seguro</h5>
							<!-- Text -->
							<p>O sistema foi feito com todas as seguranças possíveis garantir a sua segurança virtual</p>
						</div>
						<!-- column 3 ends -->
                        <!-- column 4 starts -->
						<div class="col-12 col-md-3 wow fadeInUp" data-wow-delay="0.4s">
							<!-- Icon
							<i class="fa icon-check-circle" style="font-size:4rem;color: #d6e216;"></i>

							 Heading -->
                             <img src="{{asset('site/images/1646675932903.jpg')}}"  alt="logo" style="border-radius: 40%;">
							<p>Crescemos juntos </p>
						</div>
						<!-- column 4 ends -->
					</div>
				</div>
			</section>
			<!-- quickfeature section ends
			================================================== -->

			<!-- sticky tabs starts
			================================================== -->
			<section id="products" class="dtr-sticky-tabs-wrapper dtr-border-top">
				<!-- tabs nav start -->
				<div class="dtr-sticky-tabs-nav">
					<nav class="dtr-scrollspy-tabs">
						<ul class="dtr-scrollspy nav justify-content-center dtr-sticky-tabs">
							<li class="nav-item"> <a class="nav-link" href="#tab1">
								<img src="{{asset('site/images/icon-heart-tab.png')}}" alt="tab1">Biblioteca virtual</a> </li>
							<li class="nav-item"> <a class="nav-link" href="#tab2"><img src="{{asset('site/images/icon-plane-tab.png')}}" alt="tab2">Gestão de inquéritos</a> </li>
							<li class="nav-item"> <a class="nav-link" href="#tab3"><i class="fa icon-person-booth"></i> TPC - Intercâmbio Escolar</a> </li>
						</ul>
					</nav>
				</div>
				<!-- tabs nav ends -->
				<div data-target=".dtr-scrollspy-tabs">
					<!-- tab 1 starts -->
					<section id="tab1" class="dtr-sticky-tabs-section">
						<div class="dtr-sticky-tabs-content">
							<div class="container">
								<div class="row align-items-center">
									<!-- column 1 starts -->
									<div class="col-12 col-md-7 dtr-sm-mb-30px wow fadeInLeft" data-wow-delay="0.4s"> <img src="{{asset('site/images/img-healthins.png')}}" alt="logo"> </div>
									<!-- column 1 ends -->
									<!-- column 2 starts -->
									<div class="col-12 col-md-5 wow fadeInRight" data-wow-delay="0.4s">
										<!-- Icon Image -->
										<i class="fa icon-book-reader" style=""></i>
										<!-- Heading -->
										<h2 class="dtr-mb-4">Biblioteca virtual</h2>
										<!-- Text -->
										<p class="dtr-mb-5">Para criar um espaço comum de aprendizagem vibrante e dinâmico, onde os alunos podem inquirir, descobrir, ler, ver, ouvir, colaborar, criar e apresentar em um ambiente de aprendizagem focado no futuro.</p>
										<!-- button here -->
										<div class="dtr-btn"> <a href="#">Experimentar<span><i class="icon-arrow-right" aria-hidden="true"></i></span> </a> </div>
									</div>
									<!-- column 2 ends -->
								</div>
							</div>
						</div>
					</section>
					<!-- tab 1 ends -->
					<!-- tab 2 starts -->
					<section id="tab2" class="dtr-sticky-tabs-section">
						<div class="dtr-sticky-tabs-content">
							<div class="container">
								<div class="row align-items-center">
									<!-- column 1 starts -->
									<div class="col-12 col-md-5 dtr-sm-mb-30px wow fadeInRight" data-wow-delay="0.4s">
										<!-- Icon Image -->
										<img src="{{asset('site/images/icon-plane.png')}}" alt="logo" class="dtr-mb-4">
										<!-- Heading -->
										<h2 class="dtr-mb-4">Gestão de inquéritos</h2>
										<!-- Text -->
										<p class="dtr-mb-5">A solução de Criação e Gestão de Inquéritos da PSD permite construir, distribuir e analisar inquéritos online, apostando numa forte componente de usabilidade, facilidade de utilização, de tratamento de dados e emissão de relatórios. </p>
										<!-- button here -->
										<div class="dtr-btn"> <a href="#">Experimentar<span><i class="icon-arrow-right" aria-hidden="true"></i></span> </a> </div>
									</div>
									<!-- column 1 ends -->
									<!-- column 2 starts -->
									<div class="col-12 col-md-7 text-right wow fadeInLeft" data-wow-delay="0.4s"> <img src="{{asset('site/images/img-travelins.png')}}" alt="logo"> </div>
									<!-- column 2 ends -->
								</div>
							</div>
						</div>
					</section>
					<!-- tab 2 ends -->
					<!-- tab 3 starts -->
					<section id="tab3" class="dtr-sticky-tabs-section">
						<div class="dtr-sticky-tabs-content">
							<div class="container">
								<div class="row align-items-center">
									<!-- column 1 starts -->
									<div class="col-12 col-md-7 dtr-sm-mb-30px wow fadeInLeft" data-wow-delay="0.4s"> <img src="{{asset('site/images/img-petins.png')}}" alt="logo"> </div>
									<!-- column 1 ends -->
									<!-- column 2 starts -->
									<div class="col-12 col-md-5 wow fadeInRight" data-wow-delay="0.4s">
										<!-- Icon Image -->
										<img src="{{asset('site/images/icon-pet.png')}}" alt="logo" class="dtr-mb-4">
										<!-- Heading -->
										<h2 class="dtr-mb-4">TPC - Intercâmbio Escolar</h2>
										<!-- Text -->
										<p class="dtr-mb-5">
											Ferramenta  de  intercâmbio  dos  vários  estudantes  de    várias universidades  nacional  e  internacional,  construído  no  formato  e-lerning,  esta  permite que  o  estudante partilhe  a  sua  experiência,  dúvidas  sugestões,  cultura,etc.  com  a comunidade  académica  nacional  e  internacional.
										</p>
										<!-- button here -->
										<div class="dtr-btn"> <a href="#">Experimentar<span><i class="icon-arrow-right" aria-hidden="true"></i></span> </a> </div>
									</div>
									<!-- column 2 ends -->
								</div>
							</div>
						</div>
					</section>
					<!-- tab 3 ends -->
				</div>
			</section>
			<!-- sticky tabs starts
			================================================== -->

			<!-- about starts
			================================================== -->
			<section id="about" class="bg-light-blue dtr-py-7">
				<div class="container">
					<div class="row">
						<!-- column 1 starts -->
						<div class="col-12 col-md-6">
							<!-- text here -->
							<p class="text-size-xl dtr-mb-4">Vamos ajudar sua instituição a melhorar a qualidade de ensino</p>
							<p class="dtr-mb-5">
							O PSD facilitará os trabalhos de fim de curso, possibilitando a frequência dos mesmos; <br>
							Incentivar a leitura; <br>
							Aproximar os estudantes de outras realidades académicas;<br>
							Buscar a excelência nos trabalhos científicos</p>

						 </div>
						<!-- column 1 ends -->
						<!-- column 2 starts -->
						<div class="col-12 col-md-6 wow fadeInRight" data-wow-delay="0.4s">
							<p class="text-size-xl dtr-mb-4">Perguntas frequentes</p>
							<!-- accordion starts -->
							<div class="dtr-accordion accordion" id="home-accordion">
								<!-- accordion tab 1 starts -->
								<div class="card">
									<div class="card-header" id="headingOne">
										<h2 class="dtr-mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Quem somos? </button>
										</h2>
									</div>
									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#home-accordion">
										<div class="card-body">Somos uma plataforma de pesquisa dirigida exclusivamente para os estudantes, visando facilitar a vida académica em Angola em todos o moldes desde as aulas às pesquisas de fim de curso. </div>
									</div>
								</div>
								<!-- accordion tab 1 ends -->
								<!-- accordion tab 2 starts -->
								<div class="card">
									<div class="card-header" id="headingTwo">
										<h2 class="dtr-mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Objetivo da plataforma ?</button>
										</h2>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#home-accordion">
										<div class="card-body">
											Ajudar a reduzir custos com trabalhos científicos, monografias e outros<br>
											Economizar tempo no tratamento de dados;<br>
											Incentivar a investigação científica, para dar resposta aos problemas da comunidade;<br>
											Aumentar o nível de qualidade dos trabalhos científicos realizados nas universidades, evitando viés ou mentiras nos dados fornecidos pelos estudantes meramente para se livrar dos trabalhos.<br>
										</div>
									</div>
								</div>
								<!-- accordion tab 2 ends -->
								<!-- accordion tab 3 starts -->
								<div class="card">
									<div class="card-header" id="headingThree">
										<h2 class="dtr-mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> No que acreditamos?</button>
										</h2>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#home-accordion">
										<div class="card-body">
											Reduzir  risco ambiental usando menos papel, preservando o meio ambiente; <br>
											Com o uso da pesquisa psd consequentemente usar-se-á menos papel, menos papel significa menos abate de árvores; <br>
											Melhorar a qualidade de vida das comunidades onde os estudantes estão inseridos; <br>
											Buscar maior afirmação dos trabalhos académicos angolano na Internet. <br>
										</div>
									</div>
								</div>
								<!-- accordion tab 3 ends -->
							</div>
							<!-- accordion ends -->
						</div>
						<!-- column 2 ends -->
					</div>
				</div>
			</section>

			<!-- about ends
			================================================== -->

			<section id="reviews" class="dtr-py-7 bg-grey">


							</section>

							<!-- cta section starts
							================================================== -->
							<section id="cta" class="dtr-pt-7 dtr-pb-5 dtr-sm-mb-30px bg-dark-blue color-white">
								<div class="container">
									<div class="row">
										<!-- column 1 starts -->
										<div class="col-12 col-lg-3 wow fadeInUp" data-wow-delay="0.4s">
											<h2>Em caso de <span class="color-blue">dúvidas</span></h2>
										</div>
										<!-- column 1 ends -->
										<!-- column 2 starts -->
										<div class="col-12 col-lg-5  wow fadeInUp" data-wow-delay="0.4s">
											<p>Não hesite em nos contactar estamos sempre abertos ao diálogo e opiniões.</p>
											<p class="text-size-xl dtr-mb-4">Juntos podemos mais.</p>
										</div>
										<!-- column 2 ends -->
										<!-- column 3 starts -->
										<div class="col-12 col-lg-4  wow fadeInUp" data-wow-delay="0.4s">
											<div class="dtr-btn"> <a href="mailto:pesquisapsd2020@gmail.com">Contacte-nos<span><i class="icon-envelope" aria-hidden="true"></i></span> </a> </div><br>
											<ul class="list-unstyled mt-2">
												<li><a href="tel:+244 927 208 899"><i class="icon-phone"></i> +244 927 208 899</a></li>
												<li><a href="mailto:pesquisapsd2020@gmail.com"><i class="icon-envelope"></i> pesquisapsd2020@gmail.com</a></li>
												<li></li>
											</ul>
										</div>
										<!-- column 3 ends -->
									</div>
								</div>
							</section>
							<section id="reviews" class="dtr-py-7 bg-grey">


							</section>
{% include './Site/includes/rodape.twig' %}


