{% extends "@include/main_painel.twig" %}

{% block conteudo %}

    <div class="w-100">
        <div class="card ">
            <div class="card-body p-2 d-flex">
                <a href="/biblioteca/adicionar_livro"  class="btn-sm nounderline d-flex align-items-center  btn  " style="color: #5999c3;" onMouseOver="this.style.color='#25364a'" onMouseOut="this.style.color='#5999c3'">
                    <i class="material-icons">arrow_back</i>Voltrar
                </a>
                <ul class="nav nav-tabs   " role="tablist">
                    <li><a class="nav-link active show" data-toggle="tab" href="#tab-1"> Criar autor</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-2"> Listar autores</a></li>
                </ul>
            </div>
        </div>



    </div>

    <div class="w-100">

        <div class="tabs-container ">

            <div class="tab-content  pt-2">
                <div role="tabpanel" id="tab-1" class="tab-pane active show">
                    <div class="card">

                        <div class="card-body">
                            <h3 class="card-title">Adicionar Autor</h3>
                            <hr>

                            <form class="w-100" method="POST" action="/biblioteca/salvar_autor">
                              {{ csrf_field() }}
                                <div class="">
                                    <div class="form-group col-md-4 ">
                                        <label for="itutulo">Nome * </label>
                                        <input type="text" class="form-control"  name="nome" id="itutulo" autocomplete="off" required>
                                    </div>

                                    <div class="form-group col-md-4 ">

                                        <input type="submit" class="btn btn-success" value="Salvar">
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" id="tab-2" class="tab-pane">
                    <div class="card">

                        <div class="card-body">
                            <h3 class="card-title">Lista de autores</h3>
                            <hr>
                            <table class="table table-responsive-xl table-projects mb-0">
                                <thead class="bg-primary text-white">
                                <tr>

                                    <th class="text-white">Nome</th>
                                    <th class="text-white">Total de livros</th>
                                    <th class="text-white">Data de criação</th>

                                    <th class="text-white">Opções</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for autor in autores %}
                                    <tr>

                                        <td>
                                            {{ autor.nome }}
                                        </td>
                                        <td>
                                            <a href="/biblioteca/ver_autor/{{ autor.id }}">{{ autor.livros|length }}</a>
                                        </td>
                                        <td>
                                            {{ autor.created_at|date("d/m/y",false) }}
                                        </td>


                                        <td>
                                            <div class="dropdown show">
                                                <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons md-18 align-middle">more_horiz</i>

                                                </a>

                                                <div class="dropdown-menu">
                                                    {#<a class="dropdown-item" href="/biblioteca/adicionar_autor/{{ autor.id }}">
                                                        <i class="material-icons md-14 align-middle">edit</i>
                                                        <span class="align-middle">Editar</span>
                                                    </a>#}
                                                    <a class="dropdown-item" href="/biblioteca/eliminar_autor/{{ autor.id }}">
                                                        <i class="material-icons md-14 align-middle">remove_circle</i>
                                                        <span class="align-middle">Eliminar</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>




{% endblock %}
